body {
    font-family: Arial, sans-serif;
    background-image: url("../resources/background_menu.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#title {
	font-size: 70px;
    text-align: center;
    color: #bdb8b8;
}

.center {
    display: block;
    margin: 20px auto;
    padding: 30px 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
}

.center:hover {
    background-color: #45a049;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#play {
    background-color: #4CAF50;
}

#options {
    background-color: #008CBA;
}

#saves {
    background-color: #f44336;
}

#exit {
    background-color: #555;
}