h1{
    color: #f5f4f4;
    margin-bottom: 20px;
    margin-left: 800px;
    margin-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("../resources/background_menu.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin-left:  20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-left:  20px;
}

button:hover {
    background-color: #0056b3;
}